/*Estilos generales*/
* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

/* Header estilos */
/*Body estilos*/
.indexHeader {
  background-image: url(../images/backgroundHeader.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.25rem;
}
.indexHeader .indexPeperina {
  letter-spacing: 0.5rem;
  color: #fff;
  text-shadow: 1px 1px 0 #000000, -1px 1px 0 #000000, 1px -1px 0 #000000, -1px -1px 0 #000000;
}

.indexHomeP {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6235294118);
}

a {
  color: #f0680e;
  text-decoration: none;
}

.linksInicio {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
  padding: 0.5rem;
  gap: 1rem;
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.6235294118);
}

.indexHome {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  color: #fff;
  margin: 3;
  text-align: center;
}

main {
  background-color: rgba(241, 224, 214, 0.662745098);
  border-radius: 0.5rem;
}

.bodyMainNuestraPasion {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 1rem;
  justify-items: center;
}

.tituloNuestraPasion {
  text-align: center;
  color: #f0680e;
  letter-spacing: 0.25rem;
}

.imgNuestroCafe {
  width: 12rem;
  height: auto;
  border-radius: 0.25rem;
}

.nuestraPasiontxt {
  text-align: center;
}

.bodyMainNuestroMenu {
  background-color: #000000;
}
.bodyMainNuestroMenu .nuestroMenuTitulo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}
.bodyMainNuestroMenu .tituloMenu {
  color: #f0680e;
  text-align: center;
  grid-area: 1/1/2/3;
  letter-spacing: 0.25rem;
  font-family: "Playwrite NZ Guides", cursive;
  font-weight: 400;
  font-style: normal;
}
.bodyMainNuestroMenu .iconoCafeNuestroMenu {
  grid-area: 1/3/2/4;
  height: 6rem;
  width: 6rem;
  justify-self: center;
  align-self: center;
}
.bodyMainNuestroMenu .pmenu {
  color: #fff;
  text-align: center;
}
.bodyMainNuestroMenu .contenedorMenu {
  display: grid;
  gap: 1rem;
  margin: 1rem;
  justify-items: center;
  color: #fff;
}
.bodyMainNuestroMenu .menuCafe {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.bodyMainNuestroMenu .menuCafe .nombreCafe {
  grid-area: 1/1/2/2;
  text-align: center;
  color: #f0680e;
}
.bodyMainNuestroMenu .menuCafe .descCafe {
  grid-area: 2/1/3/2;
  text-align: center;
  color: #fff;
  margin: 0.25rem;
}
.bodyMainNuestroMenu .menuCafe .precioCafe {
  grid-area: 3/1/4/2;
  text-align: center;
  color: #f0680e;
}
.bodyMainNuestroMenu .menuCafe .imgCafe {
  grid-area: 1/2/4/3;
  width: 9rem;
  height: 9rem;
  background-size: cover;
  border-radius: 0.25rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1rem;
  margin: 1rem;
}

.mainDatosLocal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  background-color: rgba(241, 224, 214, 0.662745098);
}
.mainDatosLocal .mainDatosLocalUbicacion {
  grid-area: 1/1/2/2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  border-radius: 25%;
}
.mainDatosLocal .iconoDatosLocal {
  grid-template-areas: 1/1/2/2;
  width: 2rem;
  height: 2rem;
  align-self: center;
  justify-self: center;
  margin: 0.25rem;
}
.mainDatosLocal .DescDatosLocal {
  grid-area: 2/1/3/2;
  text-align: center;
  align-self: flex-start;
  margin: 0.25rem;
}
.mainDatosLocal .txtDatosLocal {
  grid-area: 3/1/4/2;
  text-align: center;
  align-self: flex-start;
  margin: 0.25rem;
}
.mainDatosLocal .mainDatosLocalHora {
  grid-area: 1/2/2/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  border-radius: 25%;
}

.conoceNuestrosLocales {
  background-color: #f0680e;
  color: #fff;
  justify-self: center;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1rem;
}

@media (min-width: 600px) {
  main {
    background-color: rgba(241, 224, 214, 0.662745098);
    border-radius: 0.5rem;
  }
  .bodyMainNuestraPasion {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem;
  }
  .tituloNuestraPasion {
    grid-area: 1/1/2/4;
    justify-items: center;
    color: #f0680e;
    letter-spacing: 0.25rem;
  }
  .nuestraPasiontxt {
    grid-area: 2/1/3/3;
  }
}

/*# sourceMappingURL=styles.css.map */
