//---------------------Estilo MOBILE-

//Variables
$colorBlanco: #fff;
$colorNaranja: #f0680e;
$colorFondo: #f1e0d6a9;
$colorNegro: #000000;
$colorBackground: #0000009f;
/*Estilos generales*/

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

/* Header estilos */


/*Body estilos*/

//Body header

.indexHeader {
    background-image: url(../images/backgroundHeader.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.25rem;

    .indexPeperina {
        padding: 2rem;
        letter-spacing: 0.5rem;
        color: $colorBlanco;
        text-shadow:
            1px 1px 0 $colorNegro,
            -1px 1px 0 $colorNegro,
            1px -1px 0 $colorNegro,
            -1px -1px 0 $colorNegro;
    }

}

.indexHomeP {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $colorBackground;
}

a {
    color: $colorNaranja;
    text-decoration: none;

}

.linksInicio {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    padding: 0.5rem;
    gap: 1rem;
    list-style-type: none;
    background-color: $colorBackground;

}

.indexHome {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    color: $colorBlanco;
    margin: 3;
    text-align: center;
}

//Body main




main {
    background-color: $colorFondo;
    border-radius: 0.5rem;
}

//Body Nuestra Pasion

.bodyMainNuestraPasion {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 1rem;
    justify-items: center;

}

.tituloNuestraPasion {
    text-align: center;
    color: $colorNaranja;
    letter-spacing: 0.25rem;
}

.imgNuestroCafe {
    width: 12rem;
    height: auto;
    border-radius: 0.25rem;

}

.nuestraPasiontxt {
    text-align: center;
}





//Body Nuestro menu

.bodyMainNuestroMenu {
    background-color: $colorNegro;


    .nuestroMenuTitulo {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }



    .tituloMenu {
        color: $colorNaranja;
        text-align: center;
        grid-area: 1/1/2/3;
        letter-spacing: 0.25rem;
        font-family: "Playwrite NZ Guides", cursive;
        font-weight: 400;
        font-style: normal;
    }

    .iconoCafeNuestroMenu {
        grid-area: 1/3/2/4;
        height: 6rem;
        width: 6rem;
        justify-self: center;
        align-self: center;

    }


    .pmenu {
        color: $colorBlanco;
        text-align: center;
    }

    .contenedorMenu {
        display: grid;
        gap: 1rem;
        margin: 1rem;
        justify-items: center;
        color: $colorBlanco;
    }

    .menuCafe {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);


        .nombreCafe {
            grid-area: 1/1/2/2;
            text-align: center;
            color: $colorNaranja;
        }

        .descCafe {
            grid-area: 2/1/3/2;
            text-align: center;
            color: $colorBlanco;
            margin: 0.25rem;
        }

        .precioCafe {
            grid-area: 3/1/4/2;
            text-align: center;
            color: $colorNaranja;
        }

        .imgCafe {
            grid-area: 1/2/4/3;
            width: 9rem;
            height: 9rem;
            background-size: cover;
            border-radius: 0.25rem;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            border: 1rem;
            margin: 1rem;
        }
    }

}

.mainDatosLocal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    background-color: $colorFondo;




    .mainDatosLocalUbicacion {
        grid-area: 1/1/2/2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto; //No quedaba lindo con repeat(3, 1fr);
        border-radius: 25%;
    }

    .iconoDatosLocal {
        grid-template-areas: 1/1/2/2;
        width: 2rem;
        height: 2rem;
        align-self: center;
        justify-self: center;
        margin: 0.25rem;
    }

    .DescDatosLocal {
        grid-area: 2/1/3/2;
        text-align: center;
        align-self: flex-start;
        margin: 0.25rem;

    }

    .txtDatosLocal {
        grid-area: 3/1/4/2;
        text-align: center;
        align-self: flex-start;
        margin: 0.25rem;
    }

    .mainDatosLocalHora {
        grid-area: 1/2/2/3;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto; //No quedaba lindo con repeat(3, 1fr);
        border-radius: 25%;
    }
}

.conoceNuestrosLocales {
    background-color: $colorNaranja;
    color: $colorBlanco;
    justify-self: center;
    padding: 1rem;
    border-radius: .5rem;
    margin: 1rem;
}

.contenedorContacto {
    display: flex;
    flex-direction: column;

    .tituloContacto {
        color: $colorNaranja;
        text-align: center;
        letter-spacing: 0.25rem;
    }

    .pcontacto {
        text-align: center;
        color: $colorNegro;
    }

    .formularioContacto {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin: 1rem;
        align-items: center;

        .inputContacto {
            padding: 0.5rem;
            border-radius: 0.25rem;
            border: 1px solid $colorNegro;
            width: 100%;
            max-width: 400px;
        }

        .btnContacto {
            background-color: $colorNaranja;
            color: $colorBlanco;
            padding: 0.5rem 1rem;
            border-radius: 0.25rem;
            border: none;
            cursor: pointer;

            &:hover {
                background-color: ($colorNaranja, 10%);
            }
        }

        .textareaContacto {
            width: 100%;
            height: 10rem;

        }


    }
}


.iconoTazaFooter {
    width: 1rem;
    height: 1rem;
    margin: 0.25rem;
}


footer {
    background-color: $colorNegro;
    padding: 1rem;


    .logoFooter {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .tituloFooter {
            color: $colorBlanco;
            ;
        }

        .iconoTazaFooter {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    .footerInicio {
        display: flex;
        justify-content: space-between;
        align-items: center;



        .redesFooter {
            display: flex;
            gap: 0.25rem;
            margin-left: auto;


            .iconoRedes {
                width: 2rem;
                height: 2rem;
                margin: 0.25rem;

            }
        }
    }


    .copyright {
        text-align: center;
        color: $colorBlanco;
        font-size: 0.8rem;
    }
}




//TABLET
@media (min-width: 600px) {

    main {
        background-color: $colorFondo;
        border-radius: 0.5rem;
    }

    .bodyMainNuestraPasion {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 1rem;
    }

    .tituloNuestraPasion {
        grid-area: 1/1/2/4;
        justify-items: center;
        color: $colorNaranja;
        letter-spacing: 0.25rem;
    }

    .nuestraPasiontxt {
        grid-area: 2/1/3/3;
    }


}